<a href="https://colab.research.google.com/github/romicabrera/Data-science/blob/main/Sesi%C3%B3n%20_Spark1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Análisis de preferencias de teléfonos en Sudamérica con PySpark
# Requiere: pip install pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg, count, when
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.functions import regexp_replace
from pyspark.sql.functions import trim


import sys
import os
os.environ["PYSPARK_PYTHON"] = sys.executable

# 1. Crear SparkSession
spark = SparkSession.builder.appName("AnalisisTelefonos").getOrCreate()


# 2. Cargar el archivo CSV
# The original file 'telefonos_sudamerica.csv' was not found.
# Replacing with a sample file for demonstration.
# Please replace with the correct path to your data.
file_path = '/content/sample_data/california_housing_train.csv'
df_raw = spark.read.csv(file_path, header=True, inferSchema=True)
df = df_raw

# --- tipos correctos y limpia nulos antes del UDF ---
# Assuming the sample data has 'median_house_value' which we can cast to float
df = df.withColumn('median_house_value', col('median_house_value').cast('float'))
# Assuming the sample data has 'housing_median_age' which we can cast to IntegerType
df = df.withColumn('housing_median_age', col('housing_median_age').cast(IntegerType()))


# 3. Exploración inicial
df.show(10)
df.printSchema()
for c in df.columns:
    nulls = df.filter(col(c).isNull()).count()
    print(f"Columna {c}: {nulls} valores nulos")

# 4. Filtrado de datos
# Example filtering based on sample data - median_house_value
filtered_df = df.filter(col('median_house_value') > 300000)
filtered_df.show()


# 5. Agrupamiento y agregación
# Promedio of median_house_value by housing_median_age (example)
promedio_precio_pais = df.groupBy('housing_median_age').agg(avg('median_house_value').alias('promedio_median_house_value'))
promedio_precio_pais.show()
# Number of records by housing_median_age (example)
ventas_por_marca = df.groupBy('housing_median_age').agg(count('*').alias('cantidad_registros'))
ventas_por_marca.show()

# 6. Análisis por rango de edad (usando SQL nativo - sin UDF)
# Example using housing_median_age as a proxy for age range
df_edad = df.filter(col('housing_median_age').isNotNull() & (col('housing_median_age') > 0))

df_edad = df_edad.withColumn('rango_edad',
    when(col('housing_median_age') < 20, '0-19')
    .when(col('housing_median_age') < 40, '20-39')
    .otherwise('40+')
)

df_edad.groupBy('rango_edad').agg(avg('median_house_value').alias('precio_promedio')).orderBy('rango_edad').show()

# 7. Análisis de correlación
# Correlacion between 'total_rooms' and 'median_house_value' (example)
correlacion = df.stat.corr('total_rooms', 'median_house_value')
print(f"Correlación entre total_rooms y median_house_value: {correlacion}")

# 8. Filtrado por características del teléfono
# Example filtering based on total_rooms and population
filtro = df.filter((col('total_rooms') > 1000) & (col('population') > 500))
conteo = filtro.count()
print(f"Registros con total_rooms > 1000 and population > 500: {conteo}")


# 9. Guardar resultados
# convertir a Pandas y guardar
filtro_pandas = filtro.toPandas()
filtro_pandas.to_csv('resultados_analisis_pandas.csv', index=False)
print('Archivo guardado como resultados_analisis_pandas.csv usando Pandas.')

spark.stop()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|                15|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|                19|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|                17|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|                14|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|                20|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|                29|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|                25|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|                41|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|                34|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|                46|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 10 rows

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: integer (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: float (nullable = true)

Columna longitude: 0 valores nulos
Columna latitude: 0 valores nulos
Columna housing_median_age: 0 valores nulos
Columna total_rooms: 0 valores nulos
Columna total_bedrooms: 0 valores nulos
Columna population: 0 valores nulos
Columna households: 0 valores nulos
Columna median_income: 0 valores nulos
Columna median_house_value: 0 valores nulos
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -116.26|   33.65|                 3|     7437.0|        1222.0|     574.0|     302.0|      10.2948|          382400.0|
|  -116.33|   33.72|                11|    12327.0|        2000.0|    2450.0|    1139.0|       7.4382|          353100.0|
|  -116.37|   33.69|                 7|     8806.0|        1542.0|     858.0|     448.0|       7.8005|          318100.0|
|  -116.42|   33.76|                14|    16921.0|        2837.0|    2524.0|    1262.0|       7.6281|          341700.0|
|  -116.43|   33.75|                24|     2596.0|         438.0|     473.0|     237.0|       3.7727|          500001.0|
|  -116.44|   33.74|                 5|      846.0|         249.0|     117.0|      67.0|       7.9885|          403300.0|
|  -116.55|   33.84|                28|     2992.0|         562.0|     676.0|     346.0|       5.7613|          500001.0|
|  -116.56|   33.83|                36|     1765.0|         399.0|     451.0|     264.0|       2.6083|          321900.0|
|  -116.57|   33.64|                10|      489.0|          82.0|     183.0|      74.0|       6.2702|          345500.0|
|  -116.75|   32.82|                17|     3348.0|         481.0|    1222.0|     443.0|       6.6361|          308600.0|
|   -116.9|   32.77|                 8|     3600.0|         492.0|    1421.0|     482.0|       6.2609|          307100.0|
|  -116.91|   32.78|                15|     4058.0|         511.0|    1580.0|     473.0|          7.5|          316400.0|
|  -116.91|   32.73|                 8|     4630.0|         624.0|    2048.0|     575.0|       6.4745|          300300.0|
|  -116.95|   32.77|                25|     3308.0|         421.0|    1201.0|     414.0|       6.3191|          303400.0|
|  -116.98|   34.05|                 6|     2290.0|         312.0|     957.0|     274.0|       7.2708|          316700.0|
|  -116.98|   32.77|                29|     3558.0|         447.0|    1097.0|     445.0|        8.093|          379600.0|
|  -116.99|   32.77|                35|     2306.0|         334.0|     828.0|     310.0|       6.1103|          301600.0|
|   -117.0|   33.29|                17|     2073.0|         313.0|     573.0|     221.0|       8.2531|          419200.0|
|  -117.01|   33.04|                13|     4595.0|         567.0|    1643.0|     544.0|       7.7684|          362300.0|
|  -117.01|   32.99|                 8|     3372.0|         430.0|    1536.0|     448.0|       8.4284|          378300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

+------------------+---------------------------+
|housing_median_age|promedio_median_house_value|
+------------------+---------------------------+
|                31|             208319.8515625|
|                34|         213061.61552028218|
|                28|                210049.8125|
|                27|         206728.25944584384|
|                26|         206773.79324055667|
|                44|         214909.50675675675|
|                12|              181590.640625|
|                22|           213129.173374613|
|                47|         190064.61142857143|
|                 1|                   190250.0|
|                52|          277368.2005703422|
|                13|         188065.47389558234|
|                16|         200354.50708661418|
|                 6|         206768.24031007753|
|                 3|         239450.04347826086|
|                20|         192681.75195822454|
|                40|         205783.59437751005|
|                48|         224665.25185185185|
|                 5|         211035.70854271358|
|                19|         196017.75242718446|
+------------------+---------------------------+
only showing top 20 rows

+------------------+------------------+
|housing_median_age|cantidad_registros|
+------------------+------------------+
|                31|               384|
|                34|               567|
|                28|               400|
|                27|               397|
|                26|               503|
|                44|               296|
|                12|               192|
|                22|               323|
|                47|               175|
|                 1|                 2|
|                52|              1052|
|                13|               249|
|                16|               635|
|                 6|               129|
|                 3|                46|
|                20|               383|
|                40|               249|
|                48|               135|
|                 5|               199|
|                19|               412|
+------------------+------------------+
only showing top 20 rows

+----------+------------------+
|rango_edad|   precio_promedio|
+----------+------------------+
|      0-19| 193819.8128885205|
|     20-39|206404.18275271275|
|       40+|228626.05235448963|
+----------+------------------+

Correlación entre total_rooms y median_house_value: 0.13099146625326655
Registros con total_rooms > 1000 and population > 500: 14733
Archivo guardado como resultados_analisis_pandas.csv usando Pandas.